


@media only screen and (max-width: 600px) {
    .adminTableContainer {
        margin-top: 0%;
        margin-left: 0%;
        background-color: white;
    }
}
@media only screen and (min-width: 600px) {
    .adminTableContainer {
        margin-top: 0%;
        margin-left: 0%;
        background-color: white;
    }
}
@media only screen and (min-width: 768px){
    .adminTableContainer {
        margin-top: 0%;
        margin-left: 0%;
        background-color: white;
    }
}
@media only screen and (min-width: 992px) {
    .adminTableContainer {
        margin-top: 0%;
        margin-left: 0%;
        background-color: white;
    }
}
@media only screen and (min-width: 1200px) {
    .adminTableContainer {
    margin-top: 6.4%;
    margin-left: 22%;
    background-color: white;
}
}
@media only screen and (min-width: 1300px) {
    .adminTableContainer {
    margin-top: 6%;
    margin-left: 22%;
    background-color: white;
}
}
@media only screen and (min-width: 1400px) {
    .adminTableContainer {
    margin-top: 5.4%;
    margin-left: 18%;
    background-color: white;
}
}
