.login-container {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../../../assets/img_back.jpeg") no-repeat;
    background-size: 60% 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.login-card {
    position: relative;
    width: 95%;
    float: right;
    margin-right: 3%;
    margin-top: 25%;
    align-items: center;
    background-color: #4949490e;
}

.InputLogin {
    height: 45px;
    width: 60%;
}

.loginRightPlacement{
    position: relative;
    background-color: #f4ffff;
    width: 40%;
    height: 100vh;
    float: right;
}
.LoginButtonMain{
    width: 60%;
    height: 45px;
    background-color: #00439A;
}

//mobile and tablet
@media (max-width: 1023px) {
    .InputLogin {
        width: 60%;
    }

    .login-container {
        background: #f4ffff;
    }

    .loginRightPlacement {
        width: 100%;
    }


    .login-card {
        margin-top: 30%;
    }

    .LoginButtonMain {
        width: 60%;
    }
}

@media (max-width: 750px) {
    .InputLogin {
        width: 100%;
    }

    .login-container {
        background: #f4ffff;
    }

    .loginRightPlacement {
        width: 100%;
    }

    .LoginButtonMain {
        width: 100%;
    }
}