.login-container {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.login-card {
    position: relative;
    width: 500px;
    float: right;
    margin-top: 25%;
    margin-right: 5%;
    align-items: center;
    background-color: #4949490e;
}
.loginRightPlacement{
    position: relative;
    background-color: #ffffff;
    width: 570px;
    height: 100vh;
    float: right;
}
.LoginButtonMain{
    width: 450px;
    height: 45px;
    background-color: #00439A;
}
