.container {

    height: 100%;
    background-color: #2f88ff;
}
.mainLoginForm {
    position: absolute;
    right: 0%;
    background-color: white;
    height: 100%;
    width: 55%;
}

.LoginPage {
    position: absolute;
    top: 10%;
    left: 38%;
    color: #2f88ff;
    text-size-adjust: 15px;
    margin-top: 15%;
    padding-left: 4%;
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.StudentId {
    position: relative;
    height: 7vh;
    width: 55%;
    background-color: #fff;
    left: 40%;
    border-radius: 10px;
    border: 2px solid #2f88ff;
    border-color: #2f88ff;
    color: #000000;
    text-size-adjust: 15px;
    padding-left: 1%;
    font-size: large;
}
.StudentId:focus {
    outline: 2px solid #2f88ff;
}
.Password {
    position: relative;
    height: 7vh;
    width: 55%;
    background-color: #fff;
    margin-top: 3%;
    left: 40%;
    border-radius: 10px;
    border: 2px solid #2f88ff;
    border-color: #2f88ff;
    color: #000000;
    text-size-adjust: 15px;
    padding-left: 1%;
    font-size: large;
}
.Password:focus {
    outline: 2px solid #2f88ff;
}

input::placeholder {
    color: #757575;
}

.LoginButton {
    position: relative;
    height: 7vh;
    width: 55%;
    background-color: #2f88ff;
    margin-top: 3%;
    left: 40%;
    border-radius: 10px;
    border: 2px solid #2f88ff;
    border-color: #2f88ff;
    color: #ffffff;
    text-size-adjust: 15px;
    padding-left: 1%;
    font-size: large;
}

.showpassword {
    position: relative;
    margin-top: 1%;
    left: 40%;
    color: #757575;
}
.LoginPlace {
    margin-top: 40%;
    margin-left: 10%;
}
.leftBlue{
    position: absolute;
    height: 100vh;
    width: 100vh;
    background-color: #2f88ff;
    left: 0;
    top: 0;
    z-index: 1;
}
