.background_ {
    background-color: #ffffff;
    overflow: hidden;
}
.content{
    background-color: #ffffff;
}
.container-fluid{
    background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
    
}

  
