.MainContainEr {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 87vh;
}

.UserBasicInfor {
    border-radius: 15px;
    height: 50vh;
    width: 200vh;
}
.list-group-item {
    height: 46px;
    font-family: sans-serif;
    align-items: center;
}


.title_infor_item {
    font-weight: bold;
    padding-right: 20%;
}
