.MainContainEr {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: fixed;
    margin-left: 5%;
    margin-top: 7%;
    overflow-y: scroll;
    width: 77%;
    height: 87vh;
}
.Score {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 100%;
}

.UserBasicInfor {
    border-radius: 15px;
    height: 50vh;
    width: 200vh;
}
.list-group-item {
    height: 46px;
    font-family: sans-serif;
}

.UserPic {
    background-color: rgb(255, 255, 255);
    height: 44vh;
    width: 50vh;
    border-radius: 15px;
    border: 1px solid #2f88ff;
}
.userPicture {
    border-radius: 50%;
    width: 245px;
    height: 245px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title_infor_item {
    font-weight: bold;
}
